# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl

# Virtual environment
venv/
env/
ENV/
.venv/
.env/

# Environment variable files
*.env

# VS Code settings (optional)
.vscode/

# Mac/Linux system files
.DS_Store
Thumbs.db

# Log files
*.log

# Flask specific
instance/
*.sqlite3
